---
# role: ansible-role-samba
# file: tasks/ad_dns.yml

- name: "Start DC Service"
  service:
    name: "{{ item }}"
    state: started
  loop: "{{ samba_role_vars[samba_role].enabled_services }}"

- name: "Set facts for reverse DNS zone and PTR entry"
  set_fact:
    samba_dns_reverse_zone: "{{ ansible_default_ipv4.address | ipaddr('revdns') | regex_replace('^([0-9]+)\\.(.*)\\.', '\\2') }}"
    samba_dns_reverse_ptr: "{{ ansible_default_ipv4.address | ipaddr('revdns') | regex_replace('\\.$', '') }}"

- name: "Create reverse lookup zone"
  shell: |
    samba-tool dns zonecreate 127.0.0.1 \
    {{ samba_dns_reverse_zone }} \
    --username=Administrator \
    --password={{ samba_ad.admin_password }}
  register: samba_dns_result
  changed_when: ("successfully" in samba_dns_result.stdout)
  failed_when: samba_dns_result.rc > 0
    and not ( "ALREADY_EXISTS" in samba_dns_result.stderr
    or "already exists" in samba_dns_result.stderr)

- name: "Create reverse lookup PTR entry for dc"
  shell: |
    samba-tool dns add 127.0.0.1 \
    {{ samba_dns_reverse_zone }} \
    {{ samba_dns_reverse_ptr }} PTR \
    {{ ansible_hostname + '.' + samba_domain }} \
    --username=Administrator \
    --password={{ samba_ad.admin_password }}
  register: samba_dns_result
  changed_when: ("successfully" in samba_dns_result.stdout)
  failed_when: samba_dns_result.rc > 0
    and not ( "ALREADY_EXISTS" in samba_dns_result.stderr
    or "already exists" in samba_dns_result.stderr)

- name: "Create kerberos UDP SRV global record for DC"
  shell: |
    samba-tool dns add 127.0.0.1 \
    _msdcs.{{ samba_domain }} \
    _kerberos._udp.dc SRV \
    "{{ ansible_hostname + '.' + samba_domain }} 88 0 100" \
    --username=Administrator \
    --password={{ samba_ad.admin_password }}
  register: samba_dns_result
  changed_when: ("successfully" in samba_dns_result.stdout)
  failed_when: samba_dns_result.rc > 0
    and not ( "ALREADY_EXISTS" in samba_dns_result.stderr
    or "already exists" in samba_dns_result.stderr)

- name: "Create kerberos UDP SRV site record for DC"
  shell: |
    samba-tool dns add 127.0.0.1 \
    _msdcs.{{ samba_domain }} \
    _kerberos._udp.{{ samba_ad.site }}._sites.dc SRV \
    "{{ ansible_hostname + '.' + samba_domain }} 88 0 100" \
    --username=Administrator \
    --password={{ samba_ad.admin_password }}
  register: samba_dns_result
  changed_when: ("successfully" in samba_dns_result.stdout)
  failed_when: samba_dns_result.rc > 0
    and not ( "ALREADY_EXISTS" in samba_dns_result.stderr
    or "already exists" in samba_dns_result.stderr)
